/*
=================================================
Grid
=================================================
*/
*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 700px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.child {
  box-sizing: border-box;
  width: 60%;
  height: 600px;
  background: radial-gradient(rgb(22, 170, 180), rgb(19, 0, 128));
  border-radius: 6px;
  margin: 10px;
}

.prime1 {
  position: relative;
  height: 340px;
  width: 300px;
  margin: auto;
  overflow: hidden;
  border-radius: 6px;
  border: 3px solid rgba(60, 60, 102, 0.199);
}

.prime2 h1 {
  display: flex;
  justify-content: center;
  padding: 5px;
}

/*
=================================================
Flex item
=================================================
*/
.prime1,
.btn {
  display: flex;
  justify-content: center;
}

.prime3 {
  display: flex;
  justify-content: space-between;
}

.child {
  display: flex;
  justify-content: center;
  flex-direction: column;
  row-gap: 20px;
  padding: 20px;
}

/*
=================================================
Radio
=================================================
*/
input {
  width: 20px;
  height: 20px;
  vertical-align: bottom;
}

/*
=================================================
Image
=================================================
*/
.prime1 img {
  width: auto;
  height: 340px;
  position: absolute;
  border-radius: 6px;
}

/*
=================================================
Typography
=================================================
*/
.container {
  background-color: rgb(21, 211, 132);
}

.prime2,
.prime3 {
  font-family: Lato, Helvetica, sans-serif;
}

.prime2 h1 {
  font-weight: 500;
  color: #fff;
  font-size: 30px;
}

.prime2 p {
  font-weight: 400;
  font-size: 20px;
  color: #fff;
}

.prime2 :first-child {
  padding-top: 30px;
}

.prime3 h1 {
  font-weight: 300;
  color: #fff;
}

.prime3 p,
.prime3 span {
  font-weight: 600;
  font-size: 12px;
  color: #fff;
}

button {
  font-weight: 600;
  font-size: 20px;
  font-family: Lato, Helvetica, sans-serif;
  color: #fff;
}

#Rad1 {
  accent-color: red;
}

#Rad2 {
  accent-color: blue;
}

#Rad3 {
  accent-color: #000;
}

button {
  background: linear-gradient(150deg, rgb(22, 49, 83), rgb(7, 83, 71));
}

/*
===========================================
Button
===========================================
*/
button {
  border: none;
  padding: 15px 60px;
  border-radius: 1px 20px;
}

/*
============================================
Animation
============================================
 */
.prime1 img {
  animation: fam 12s linear 0s infinite;
  opacity: 0;
  overflow-x: hidden;
}

.prime1 img:nth-child(2) {
  animation-delay: 2s;
}

.prime1 img:nth-child(3) {
  animation-delay: 4s;
}

.prime1 img:nth-child(4) {
  animation-delay: 6s;
}

.prime1 img:nth-child(5) {
  animation-delay: 10s;
}

.prime1 img:nth-child(6) {
  animation-delay: 12s;
}

@keyframes fam {
  0% {
    opacity: 0;
  }
  5% {
    opacity: 0;
    transform: translateX(100px);
  }
  10% {
    opacity: 1;
    transform: translateX(0);
  }
  25% {
    opacity: 1;
    transform: translatxeX(0);
  }
  30% {
    opacity: 0;
    transform: translateX(-100px);
  }
  80% {
    opacity: 0;
  }
  to {
    opacity: 0;
  }
}/*# sourceMappingURL=styles.css.map */